body{
    background-color: #EFF2F9;
}

#profileHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#profileName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#profileImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: #CD5459;
    border: 2px solid;
}

#profileNameText{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
}

#profileNameText span{
    font-size: 12px;
    color: #CD5459;
}

#profileAddress{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#profileAddressText{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#profileAddressText p{
    font-size: 12px;
    color: #CD5459;
}

#addressPinIcon{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

